doctype
html
	head
		title Regsiter
	body
		form(id='form', method='POST', action='/user/registration')
			label(for='Name') Name
			input(type='text', id='name', name='name')
			label(for='ContactNum') Contact Number
			input(type='contact', id='contact', name='contact')
			input(type='submit', value='Register')